.inspectionViewRoot {
  height: 100%;
  background: var(--primary-background-color);
  margin: -1rem;
}


.inspectionViewModalContent {
  height: 87vh;
  max-height: 87vh;
  overflow: hidden;
}


.inspectionViewModalToolbar {
  height: var(--toolbar-height);
  padding-left: 15px; padding-right: 15px;
  padding-top: 15px;
}


.inspectionViewModalContent .viewportWrapper {
  height: 93%;
}