.root {
  width: 100%;
  height: 100%;
  background: var(--primary-background-color);
}

.modalContent {
  height: 87vh;
  max-height: 87vh;
  overflow: hidden;
}

.modal-toolbar {
  height: var(--toolbar-height);
  padding-left: 15px; padding-right: 15px;
  padding-top: 15px;
}

.viewportWrapper {
  width: 100%;
  height: 93%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewportElement {
  width: 100%;
  height: 100%;
  position: relative;
}
