.modal-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.modal-table-row,
.modal-table-header {
  display: table-row;
}

.modal-table-header {
  border-bottom: var(--ui-border-thickness) solid var(--ui-border-color);
}

.modal-table-head {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: table-cell;
  padding-bottom: 0.5rem;
  font-weight: bold;
}

.modal-table-cell {
  display: table-cell;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.modal-title {
  display: flex;
  justify-content: space-between;
}

.modal-table-wrapper {
  margin: 20px;
}
