.description {
  font-size: 16px;
  line-height: 18.75px;
  color: #ffffff;
  margin: 30px 0;
}

.noMatchingResults {
  text-align: center;
  font-size: 30px;
  color: #d3d3d3;
  font-weight: 500;
  max-width: 100%;
}

.tableRowActionIcon {
  margin-right: 5px;
}