@import "@ohif/viewer/src/styles/breakpoints";

.dateRangePickerNG {
  .rangeDatesAndCalendarIconContainer {
    display: flex;
    align-items: center;
    column-gap: 15px;

    @include md {
      column-gap: 0;
    }

    .rangeDateCalendarIcon {
      position: relative;
      top: -2px;
      cursor: pointer;
    }
  }

  .DateRangePicker {
    height: 24px;
    width: auto;
    margin: 0;
    background-color: transparent;
    cursor: initial;

    @include md {
      width: 0;
      visibility: hidden;
    }
  }

  .DateRangePickerInput {
    border: none;
    width: auto;
    height: 24px;
    display: flex;
    align-items: center;
    column-gap: 15px;
    background-color: transparent;
  }

  .DateRangePickerInput.DateRangePickerInput__withBorder {
    background-color: transparent;
  }

  .DateInput {
    background-color: transparent;
    height: 24px;
  }

  .DateInput > .DateInput_input {
    font-size: 16px;
    height: auto;
    font-weight: 400;
    color: #60646d;
  }

  .DateRangePickerInput_clearDates__hide {
    display: none;
  }

  .DateRangePickerInput__showClearDates {
    padding-right: 0;
  }

  .DayPickerNavigation_button {
    width: fit-content;
    position: absolute;
    top: 128px;
  }

  .DayPickerNavigation_button:first-of-type {
    left: 20px;
  }

  .DayPickerNavigation_button:last-of-type {
    right: 20px;
  }

  .nav-prev-date,
  .nav-next-date {
    width: 14px;
    height: 10px;
  }

  .nav-prev-date {
    rotate: 90deg;
  }

  .nav-next-date {
    rotate: -90deg;
  }

  .DayPicker__horizontal,
  .CalendarMonthGrid,
  .CalendarMonth {
    background-color: #000000;
  }

  .CalendarMonth {
    padding: 0 !important;
  }

  .calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 0 20px;
  }

  .calendar-header-title {
    margin: 0;
    text-align: left;
    color: #ffffff;
  }

  .DateInput_fang {
    display: none;
  }

  .close-calendar-icon {
    cursor: pointer;
  }

  .DateRangePicker_picker,
  .DayPicker {
    border-radius: 10px;
  }

  .DayPicker,
  .DayPicker_transitionContainer {
    width: 356px !important;
  }

  .DayPicker_weekHeaders {
    display: none;
  }

  .DayPicker_transitionContainer {
    height: 394px !important;
  }

  .calendar-month-year-title {
    color: #ffffff;
  }

  .CalendarMonth_caption {
    padding-top: 20px;
    padding-bottom: 5px;
  }

  .CalendarDay__default,
  .CalendarDay__default:hover {
    color: #ffffff;
    border: none;
    height: 28px !important;
    border-radius: 50%;
    background-color: #000000;
  }

  .CalendarDay__selected,
  .CalendarDay__selected:hover,
  .CalendarDay__selected_span,
  .CalendarDay__selected_span:hover {
    background-color: #2e46e9;
  }

  .CalendarDay__blocked_out_of_range {
    color: #575757;
  }

  .CalendarMonth_table {
    border-collapse: separate;
    border-spacing: 20px 10px;
  }

  .CalendarMonthGrid__horizontal {
    left: 0;
  }

  .DayPicker > div > div:first-of-type {
    width: 356px !important;
  }

  .date-range-picker-reset-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px 20px 0;
  }

  .date-range-picker-reset {
    border: none;
    background: transparent;
    color: #d3d3d3;
    padding: 0;
    cursor: pointer;
  }

  .start-end-dates {
    display: flex;
    column-gap: 20px;
    align-items: center;
    padding: 0 20px;
  }

  .start-date-wrapper,
  .end-date-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 15px;

    label {
      text-align: left;
      color: #d3d3d3;
      font-size: 12px;
      line-height: 14px;
    }

    input {
      width: 148px;
      background: none;
      border: 1px solid #d3d3d3;
      border-radius: 5px;
      padding: 5px 10px;
      font-size: 16px;
      color: #d3d3d3;
      outline: none;
    }
  }
}
