
.addNewBtn {
  all: unset;
  background-color: #58BC82;
  border-radius: 6px;
  display: flex;
  align-items: center;
  column-gap: 4px;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: 600;
}

.cancel, .save {
  all: unset;
  border-radius: 8px;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 12px 16px;
  cursor: pointer;
  font-weight: 800;
}

.cancel {
  background-color: #89898B;
}

.save {
  background-color: #2E46E9;
  margin-left: 10px;
}

.footer, .addNewContainer {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 75px;
}

.footer {
  bottom: 10px;
}

.addNewContainer {
  margin-top: 20px;
  margin-bottom: 50px;
  bottom: 20px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.devicesList {
  overflow: auto;

  :where(table) { width: 100% }
}

.listHeader {
  display: flex;
  align-items: center;
  column-gap: 8px;
  border-bottom: 2px solid #D9D9D9;
  border-top: 2px solid #D9D9D9;
}

table {
  color: #FFFFFF;

  th {
    font-size: 16px;
    line-height: 18px;
    white-space: nowrap;
    border-bottom: 2px solid #D9D9D9;
    border-top: 2px solid #D9D9D9;

    .listHeaderFirstItem {
      width: 25px;
    }

    .listHeaderLastItem {
      width: 28px;
    }
  }

  td {
    border-bottom: 1px solid #D9D9D9;

    .rowActions {
      display: flex;
      align-items: center;
      column-gap: 5px;
      padding: 0 5px;

      button {
        all: unset;
        cursor: pointer;
      }
    }

    input {
      font-size: 16px;
      line-height: 20px;
      padding: 10px 12px;
      border-radius: 5px;
      border: 1px solid #60646D;
      color: #FFFFFF;
      background-color: transparent;
      outline: none;
    }

    p {
      margin: 0;
      padding: 0 5px;
      flex: 1;
    }

    input, p {
      min-width: 196px;
      max-width: 196px;
    }

    .listItemNumber {
      width: 25px;
      font-weight: 500;
      color: #FFFFFF;
      font-size: 16px;
      line-height: 18px;
    }
  }

  th, td {
    padding: 15px 5px;
  }
}
