.timePicker {
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  max-width: 410px;
  background-color: #000000;
  z-index: 10;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;

    .closeIcon {
      cursor: pointer;
    }

    .title {
      font-size: 16px;
      line-height: 18.75px;
      font-weight: 500;
      color: #ffffff;
      margin: 0;
    }
  }

  .resetContainer {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;

    .resetBtn {
      border: none;
      background: none;
      color: #d3d3d3;
    }
  }

  .pickers {
    display: flex;
    column-gap: 20px;
    margin-top: 30px;

    .pickerContainer {
      flex: 1;

      .pickerTitle {
        font-size: 12px;
        line-height: 14px;
        font-weight: 500;
        color: #d3d3d3;
        margin: 0;
      }

      .picker {
        outline: none;
        background: none;
        border: 1px solid #d3d3d3;
        padding: 5px 10px;
        font-size: 16px;
        line-height: 18.75px;
        color: #ffffff;
        border-radius: 5px;
        width: 100%;
      }
    }
  }
}
