.dicom-uploader .button {
  float: left;
  margin: 5px;
}

.invisible-input {
  position: absolute;
  display: none;
  z-index: -1000;
  max-width: 0 !important;
  max-height: 0 !important;
}

.dicom-uploader .table-header {
  color: #ffffff;
  font-size: 16px;
  text-align: left;
  margin: 20px auto;
}

table.upload-file-list {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}

table.upload-file-list tbody tr td {
  padding: 0.1rem 1rem 0.1rem 1rem;
}

.progressBarContainer {
  background-color: #ffffff;
  height: 34px;
  border-radius: 25px;
  overflow: hidden;
}

.progressBar {
  background-color: #20a5d6;
  height: 100%;
  transition: width 0.3s;
}
