.DicomPDFViewport {
  --header-height: 50px;
}

.DicomPDFViewport #toolbar {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0.5em;
  border-bottom: var(--ui-border-thickness) solid var(--ui-border-color);
  height: var(--header-height);
}

.DicomPDFViewport #canvas {
  height: calc(100% - var(--header-height));
  overflow-y: scroll;
  display: flex;
  justify-content: center;
}

.DicomPDFViewport #pdf-canvas-container {
  position: relative;
}

.DicomPDFViewport #toolbar button {
  color: currentColor;
  background-color: transparent;
  font: inherit;
  border: var(--ui-border-thickness) solid var(--ui-border-color);
  border-radius: 3px;
  padding: 0.25em 0.5em;
  margin-right: 0.5em;
  cursor: pointer;
}

.react-pdf__Page__textContent,
.react-pdf__Page__annotations {
  display: none !important;
}
