@import '@ohif/viewer/src/styles/breakpoints';

.content {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  row-gap: 10px;

  @include lg {
    margin-top: 20px;
  }

  .header,
  .row {
    display: flex;
    column-gap: 10px;
    align-items: center;

    .preset {
      width: 25px;
    }

    .description {
      flex-grow: 1;
    }

    .window {
      width: 160px;
    }

    .level {
      width: 160px;
    }

    .window, .level {
      -moz-appearance: textfield;

      &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    .description, .window, .level {
      @include md {
        flex-grow: 1;
        width: 0;
      }
    }
  }

  .header {
    .description,
    .window,
    .level {
      text-align: center;
      margin: 0;
      font-size: 18px;
      line-height: 21px;
      color: #60646d;
    }

    .description {
      text-align: left;
    }
  }

  .row {
    .preset {
      margin: 0;
      color: #60646d;
      font-size: 18px;
      line-height: 21px;
      font-weight: 500;

      &.active {
        color: #ffffff;
      }
    }

    .window,
    .level {
      text-align: center;
    }

    .description,
    .window,
    .level {
      padding: 15px 12px;
      border: 1px solid #60646d;
      background: none;
      border-radius: 5px;
      color: #60646d;
      font-size: 18px;
      line-height: 21px;
      font-weight: 500;
      outline: none;
      cursor: pointer;

      &:hover,
      &:focus {
        border-color: #ffffff;
      }

      &.error {
        border-color: #d8a059;
        color: #d8a059;
      }

      &.active {
        color: #ffffff;
      }
    }
  }
}
