.modal {
  width: 700px;
  height: 700px;
  min-width: 750px;
  color: #FFFFFF;

  .inputGroup {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 20px;
  }

  .input {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
  }


  .createButtonWrapper {
    display: flex;
    justify-content: right;

    .createWorklist {
      display: flex;
      background-color: #2E46E9;
      border-radius: 10px;
      padding: 10px 20px;
      border: none;
      font-size: 18px;
      line-height: 21px;
      font-weight: 600;
      color: #FFFFFF;
      cursor: pointer;
      div{
        height: 16px;
        width: 16px;
      }

      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}
