@import '@ohif/sonador-viewer/src/styles/breakpoints';

.securityTabHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .accessIdsTitle {
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    margin: 0;
  }
}

.addNewBtn {
  background-color: #2e46e9;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  column-gap: 10px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;

  @include lg {
    margin-top: 30px;
  }

  @include xs {
    margin-top: 20px;
  }
}

.description {
  font-size: 16px;
  line-height: 18.75px;
  color: #ffffff;
  margin: 30px 0;
}

.divider {
  height: 1px;
  color: #d9d9d9;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 30px 0;

  @include xs {
    align-items: flex-start;
    margin: 20px 0;
  }

  .searchContainer {
    border: 1px solid #60646d;
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
    max-width: 340px;
    display: flex;
    align-items: center;
    column-gap: 5px;

    @include xs {
      max-width: 100%;
    }

    .search {
      border: none;
      outline: none;
      background: none;
      color: #ffffff;

      @include md {
        width: 100%;
      }
    }

    .highlightSearchIcon path {
      stroke: #d3d3d3;
    }
  }
}

.table {
  width: 100%;

  .tableHeader th {
    border-top: 2.3px solid #d9d9d9;
    border-bottom: 2.33px solid #d9d9d9;
    font-weight: 600;
  }

  .tableRow td {
    border-bottom: 1px solid #d9d9d9;
  }

  .tableHeader th,
  .tableRow td {
    padding: 15px 5px;
    font-size: 16px;
    line-height: 18.75px;
    color: #ffffff;

    &:first-of-type {
      padding-right: 8px;
      min-width: 24px;
    }

    &:last-of-type {
      width: 1%;
      white-space: nowrap;
    }
  }
}

.total {
  margin: 30px 0 0;
  font-size: 16px;
  line-height: 18.75px;
  color: #ffffff;
}

.modalDescription {
  font-size: 16px;
  line-height: 18.75px;
  color: #ffffff;
  margin: 0 0 20px;
}

.modalDescriptionInputWrapper {
  background: none;
  border: 1px solid #60646d;
  border-radius: 5px;
  width: 400px;
  padding: 11px 12px;
  display: flex;
  column-gap: 10px;
  align-items: center;

  .modalDescriptionInput {
    color: #d3d3d3;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    flex: 1;
    outline: none;
    background: none;
    border: none;
  }

  &.active {
    border-color: #d3d3d3;
  }

  &.withKey {
    width: 100%;
  }
}

.modalBottomWarning {
  font-weight: 600;
  font-size: 16px;
  line-height: 18.75px;
  color: #ffffff;
  margin: 20px 0 0;
}

.generateBtn {
  background-color: #2e46e9;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 50px;
  border-radius: 10px;
  border: none;
}

.keysContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  .keyTitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
    color: #d3d3d3;
    text-transform: uppercase;
    margin: 0;
  }
}

.clickableIcon {
  cursor: pointer;
}

.modalContent {
  width: 100vw;
  max-width: 930px;
}

.loaderContainer {
  height: 200px;
}

.noMatchingResults {
  text-align: center;
  font-size: 30px;
  color: #d3d3d3;
  font-weight: 500;
}

.createdColumn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;

  .deleteBtn {
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;
  }
}
