.issuesBtn {
  all: unset;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 300;

  .active {
    color: var(--ui-gray-dark);
  }
}
